body {
  font-family: Arial;
}

header {
  background: purple;
  color: white;
  padding: 10px;
}

nav a {
  margin-right: 10px;
  color: white;
}

main {
  padding: 20px;
}

footer {
    background: lightgray;
    padding: 10px;
    text-align: center;
}